.jsonData {
    padding-left: var(--main-margin);
    font-size: calc(8px + 1vmin);
}

.jsonData__item {
     margin-bottom: var(--main-margin);
}

.jsonData__valueBlock {
    min-height: var(--main-margin);
}

.jsonData__propTitle {
    margin-right: var(--main-margin);
}
