:root {
  --main-margin: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Monospace', monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, 'Monospace', sans-serif, monospace;
}

.header {
    background-color: #282c34;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(2px + 2vmin);
    color: white;
    margin-bottom: var(--main-margin);
}

.header h1 {
    font-size: calc(5px + 2vmin);
}

.header__link {
    color: #61dafb;
    margin-bottom: var(--main-margin);
}

.main {
    text-align: left;
}

.main__header {
    font-size: calc(2px + 2vmin);
}

.propLink {
    color: blue;
}
